* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

.card {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h2 {
  margin-bottom: 0px;
  padding: 5px;
}

.role {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.bio {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: medium;
  border: 2px solid black;
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
.profile-header {
  background-color: lightskyblue;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    
   gap: 10px;
   margin-bottom: 15px;

}
