* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("tech\ background.jpg");
  background-size: cover; /* this fits the image in the background */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* do not repeat the image */
  font-family: Arial, sans-serif;
}

.card {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition-property: all;
  transition-duration: 2s;
}
.card:hover{
  background-color: rgb(245, 245, 245);
}
.card:active{
  background-color: lightgray;
}


.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  object-fit: cover;
  margin-bottom: 1px;
}

.card h2 {
  margin-bottom: 0px;
  padding: 5px;
}

.role {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.bio {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: medium;
  border: 2px solid black;
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
}
.profile-header {
  background-color: lightgray;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    
   gap: 10px;
   margin-bottom: 15px;

}

